* {
    box-sizing: border-box;
    }

html{
    line-height: 1.15;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(230, 230, 230);
    text-align: left;
    background-color: rgb(61, 61, 61);
}

.about-img{
    margin: -100px;
    right: -60px;
}

.btn{
    padding: 10px 25px;
    border-radius: 100px;
}

.btn-white{
    background-color: white;
    border: 10px solid white;
}

#home{
    margin-top: 50px;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
}

.Main-Logo{
    max-height: 300px;
}

#PortfolioTitle{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#AMe{
    padding: 0px;
}


/* MENU */
a{
    color: rgb(41, 41, 41);
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: olive;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link{
    padding: 10px;
    color: rgb(61, 61, 61);
    font-weight: 500;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
    color: brown;
}

/*about me section*/

.AboutMeH1{
    color: rgb(209, 209, 209);
    text-align: center;
}

.portrait{
    flex: auto;
    max-width: 400px;
    margin: 12px;
}

.AMText{
    
    margin-left: 12px;
}

/*Gallery*/

.biggerview{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 60px;
}

.portfolio-item .portfolio-btn{
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn{
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
}